html, body {
  width: 100%;
  height: 100%;
  margin: 0; 
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.light, .dark {
  padding: 50px;
  height: 100vh;
  width: 100vw;
}

h1{
  margin: 0;
}
nav {
  width: 70%;
}